[submodule "src/proj4js"]
	path = src/proj4js
	url = ../../third-party/proj4js.git
	branch = master
	ignore = dirty
[submodule "src/stylesheets"]
	path = src/stylesheets
	url = ../style.git
	branch = dev
	ignore = dirty
